<html lang="en">

<head>
  <title>NodeFlix</title>
  <link rel="icon" type="image/png" sizes="16x16" href="Images/logoTab.png">
  <link rel="stylesheet" href="/styles/catalogue.css" />
  <link rel="stylesheet" href="/styles/HeaderFooter.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/headerResponsive.css"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type='text/javascript'
    src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js?ver=3.6.0'></script>
</head>

<body>
  <!-- modal myprofile -->
  <div class="modal-myprofile modal-myprofile-hidden">
    <div class="forms">
      <form action="/myprofile/update" method="post" id="form-myprofile">
        <div class="forminput">
          <label for="email" class="form-label">Username:</label></br>
          <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="email" default-value="{{logged}}"
            value="{{logged}}" required disabled /> <i class="fa-solid fa-pen-to-square" id="edit-username"></i>
        </div>
        <br />
        <div class="forminput">
          <label for="name" class="form-label">Password</label></br>
          <input type="password" class="form-control" id="pass" name="password" required disabled /> <i class="fa-solid fa-pen-to-square" id="edit-pass"></i>
        </div>
        <div class="forminput">
          <label for="name" class="form-label">Confirm password</label></br>
          <input type="password" class="form-control" id="pass" name="passwordConfirm" required disabled />
        </div>
        <br />
        <div id="form-save">
          <div class="forminput">
            <button>Save</button>
          </div>
          <button type="button" id="annulateMyprofile">Back</button>
        </div>
      </form>
    </div>
  </div>
<div class="container">
  <!-- Header -->
  <header>
    <div class="header">
      <!--Logo -->
      <a href="#">
        <img class="logo" src="/Images/logo.png" href="index" alt="logo getflix" />
      </a>

    </div>
    <div class="navDiv" id="navDiv">
      <!--Navbar -->
      <ul class="navbar">
        {{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li class="signIn">
          <a href="login">Sign In</a>
        </li>
        {{/if}}
        <li class="dropdown">
          <a href="" class="dropbtn">Genres</a>
          <ul class="sub_menu" id="sub_menu">
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ActionM">Action
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="AdventureM">Adventure
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="AnimationM">Animation
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ComedyM">Comedy
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="CrimeM">Crime
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="DocumentaryM">Documentary
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="DramaM">Drama
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="FamilyM">Family
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="FantasyM">Fantasy
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="HistoryM">History
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="HorrorM">Horror
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="MusicM">Music
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="MysteryM">Mystery
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="RomanceM">Romance
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ScienceFictionM">Science Fiction
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="TVMovieM">TV Movie
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ThrillerM">Thriller
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="WarM">War
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="WesternM">Western
                  </a>
              </li>
            </ul>

        </li>
        <li>
          <form id="searchbox">
            <input type="search" placeholder="Search" id="search" class="search" name="search" />
          </form>

        </li>
      </ul>
    </div>
    <!--<div class="navResponsive" id="navResponsive">
      
      <ul class="navbar">
        <li class="dropdown">
          <a href="" class="dropbtn">Genres</a>
          <ul class="sub_menu" id="sub_menu">
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ActionM">Action
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="AdventureM">Adventure
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="AnimationM">Animation
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ComedyM">Comedy
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="CrimeM">Crime
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="DocumentaryM">Documentary
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="DramaM">Drama
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="FamilyM">Family
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="FantasyM">Fantasy
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="HistoryM">History
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="HorrorM">Horror
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="MusicM">Music
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="MysteryM">Mystery
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="RomanceM">Romance
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ScienceFictionM">Science Fiction
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="TVMovieM">TV Movie
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ThrillerM">Thriller
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="WarM">War
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="WesternM">Western
                  </a>
              </li>
            </ul>

        </li>
        
      </ul>
    </div> -->
  </header>
  <div id="toRemove">
      <div class="HeroRow">
        <!--Hero -->
        {{!-- <img src="/Images/doctor-strange-1256x826.webp"> --}}
        <div class="hero">
          <h2>Doctor Strange 2: In The Multiverse Of Madness</h2>
          <p>Doctor Stephen Strange continues his research on the Time Stone. However, an old friend-turned-enemy attempts
            to destroy all the wizards on Earth, which disrupts Strange's plan.</p>

          <button>More Info</button>
        </div>
      </div>
      <div class="TitlemovieTop10">
        <!-- -->
        <button class="pre-btn"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
        <h3>Top rated</h3>
        <button class="nxt-btn"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

      </div>
      <div class="movieTop10" id="movieTop10">
        <!-- -->

      </div>
      <div class="TitleTrending">
        <!-- -->
        <button class="pre-btn"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
        <h3>Trending</h3>
        <button class="nxt-btn"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

      </div>
      <div class="trending" id="trending">
        <!-- -->

      </div>
      <div class="TitleNowPlaying">
        <!-- -->
        <h3>Now Playing in theatre</h3>
      </div>
      <div class="NowPlaying" id="NowPlaying">
        <!-- -->

      </div>
  </div>
  {{!-- <div class="footer-basic" id="row-8"> --}}
    
    <!--  Catalogue-->
    <div id="GenreBtn" style="visibility: hidden;"></div>
      <main id="movieCard" style="visibility: hidden;"></main>
    <div class="pagination" id="pagination" style="visibility: hidden;">
        <div class="page" id="prev" style="visibility: hidden;">Previous Page</div>
        <div class="current" id="current" style="visibility: hidden;">1</div>
        <div class="page" id="next" style="visibility: hidden;">Next Page</div>

    </div>
    
    <div class="headerResponsive">
      <ul class="navbar">
        <li><a href=""><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/searchResponsive"><i class="fa-solid fa-magnifying-glass"></i></a></li>
{{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li>
          <a href="login"><i class="fa-regular fa-user"></i></a>
        </li>
        {{/if}}

      </ul>
    </div>
</div>
  
  {{!-- </div> --}}
  <script type="text/javascript" language="javascript" src="scripts/GenreDropdown.js"></script>
  <script src="scripts/userDropdown.js"></script>
  <script src="scripts/apifetch.js"></script>
  
  
</body>

</html>