<html lang="en">

<head>
    <title>NodeFlix</title>
    <link rel="icon" type="image/png" sizes="16x16" href="Images/logoTab.png">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/styleform.css" />
    <link rel="stylesheet" href="/styles/HeaderFooter.css" />
    <link rel="stylesheet" href="/styles/headerResponsive.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js?ver=3.6.0'></script>
</head>

<body>
  <div class="container">
    <header>
        <div class="header">
            <!--Logo -->
            <a href="/">
              <img class="logo" src="/Images/logo.png" href="login" alt="logo getflix" />
            </a>
        </div>
        <div class="navDiv" id="navDiv">
            <!--Navbar -->
            <ul class="navbar">
                
                {{#if logged}}
                <li>
                    <form action="/auth/logout" method="post" style="margin-left: 20px; display:flex; color: white">
                        <h4>
                            <h4>Hi, {{logged}}</h4>
                            <button class="form-button" type="submit">
                              Logout
                            </button>
                    </form>
                </li>

                {{else}}
                <li>
                    <a href="/login">Sign In</a>
                </li>
                {{/if}}
                
            </ul>
        </div>
    </header>
    
    


      <div class="allForm">
        <h1>Register</h1>
        {{#if message}} 
          <div class="message">
            <h4>{{message}}</h4>
          </div>
        {{/if}}
        <form action="/auth/register" method="post">
            <div class="forminput">
            <label for="email" class="form-label">Email:</label></br>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"/>
            </div>
            
            <div class="forminput">
            <label for="name" class="form-label">Password:</label></br>
            <input type="password" class="form-control" id="lastname" name="password"/>
            </div>

            <div class="forminput">
            <label for="name" class="form-label">Confirm Password:</label></br>
            <input type="password" class="form-control" id="lastname" name="confirmPassword"/>
            </div>

            

            <div class="forminput">
            <button class="form-button"
                type="submit"
                name="submit">Create your account</button>
            </div>
        
        </form>
        </div>
</div>
    <div class="headerResponsive">
      <ul class="navbar">
        <li><a href=""><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
{{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li>
          <a href="login"><i class="fa-regular fa-user"></i></a>
        </li>
        {{/if}}

      </ul>
    </div>

    

    <script type="text/javascript" language="javascript" src="scripts/GenreDropdown.js"></script>
    <script src="scripts/apifetch.js"></script>
</body>

</html>
