<html lang="en">
  <head>
    <title>Search...</title>
    <link rel="stylesheet" href="/styles/search.css" />
    
  <link rel="stylesheet" href="/styles/HeaderFooter.css" />
  <link rel="stylesheet" href="/styles/headerResponsive.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>
  <body>
    <!-- modal myprofile -->

  <div class="modal-myprofile modal-myprofile-hidden">
<div id="messageProfile"></div>
    <div class="forms">
      <form action="/myprofile/update" method="post" id="form-myprofile">
      <input type="hidden" value="{{logged}}" name="token"/>
        <div class="forminput">
          
          <label for="email" class="form-label">Username:</label></br>
          <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="email" default-value="{{logged}}"
            value="{{logged}}" required disabled /> <i class="fa-solid fa-pen-to-square" id="edit-username"></i>
        </div>
        <br />
        <div class="forminput">
          <label for="name" class="form-label">Password:</label></br>
          <input type="password" class="form-control" id="pass" name="password" required disabled /> <i class="fa-solid fa-pen-to-square" id="edit-pass"></i>
        </div>
        <div class="forminput">
          <label for="name" class="form-label">Confirm password:</label></br>
          <input type="password" class="form-control" id="pass" name="confirmPassword" required disabled />
        </div>
        <div class="forminput">
            <label>Update subscription plan:</label><br>
              <select id="subscription" name="subscription">
                <option disabled selected value=""> -- select an option -- </option>
                <option value="free">Free</option>
                <option value="premium">Premium</option>
              </select>
        </div>

        <div id="form-save">
          <div class="forminput">
            <button>Update</button>
          </div>
          <button type="button" id="annulateMyprofile">Back</button>
        </div>
      </form>
      <br>
      <form action="/myprofile/delete" method="post">
        <button>Close this account</button>
      </form>


    </div>
  </div>

      <header>
        <!--Header -->
        <div class="header">
          <!--Logo -->
          <a href="/">
        <img class="logo" src="/Images/logo.png" href="index" alt="logo getflix" />
      </a>
        </div>
        <div class="navDiv" id="navDiv">
          <!--Navbar -->
          <ul class="navbar">
           {{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li class="signIn">
          <a href="login">Sign In</a>
        </li>
        {{/if}}
            <li class="home"><a href="/">Home</a></li> 
            <li>
              <form  id="form">
            <input type="search" placeholder="Search" id="search" class="search" name="search">
        </form>
              <!-- <a href="#">Search</a> -->
            </li> 
            
          </ul>
        </div>
      </header>
      </div>
      <div class="container">
      <div id="GenreBtn"></div>
      <main id="movieCard"></main>
    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>

    </div>
    </div <!-- Container -->>
    <div class="headerResponsive">
      <ul class="navbar">
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
{{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li>
          <a href="login"><i class="fa-regular fa-user"></i></a>
        </li>
        {{/if}}

      </ul>
    </div>

    <script src="scripts/search.js"></script>
    <script src="scripts/userDropdown.js"></script>
  </body>
</html>